@import "../../variables.scss";

input {
    background-color: #F1F4F8;
    transition: box-shadow 0.3s ease-in-out;

    &:focus {
        outline: none;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.01), 0 1px 10px rgba(0, 0, 0, 0.2);
    }
}

.searchicon {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: $highlight_color;
}

.clearbutton {
    transition: background-color 0.5s ease;
    &:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 10px 17px;

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: $highlight_color;
    }
}

.suggestions {
    position: absolute;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.01), 0 1px 10px rgba(0, 0, 0, 0.2);

    .suggestion {
        &:hover {
            cursor: pointer;
            background-color: #F1F4F8;
        }

        .metadata {
            color: #9EADB7;
            font-size: 0.8em;
        }
    }
}

.background-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3)
}

