@import "../../variables.scss";

input {
    padding: 7px 15px 7px 40px;
    transition: box-shadow 0.3s ease-in-out;

    &:focus {
        outline: none;
    }
    @media only screen and (max-width: 1024px){
        height: 4rem;
    }
}

.isInFocus {
    position: absolute;
    @media (min-width: 1024px) {
        bottom: 0;
        top: auto;
    }
    
    input {
        padding: 15px 40px;
    }
}

.searchBarNotEmpty{
    border-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.searchicon {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: $highlight_color;
}

.searchresult-button {
    color: $highlight_color;
}

.clearbutton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 2px;
    padding: 10px 17px;

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.suggestion {
    .metadata {
        color: #9EADB7;
    }
}

.background-overlay {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    top: 64px;
    left: 0px;
}

