<div #searchbar class="flex w-full relative z-20">
  <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-search searchicon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg>
  <input #searchinput (focus)="onFocus()" (keyup)="onKey($event)" value="" class="w-full rounded" type="text" name="q" placeholder="Search" autocomplete="off">
  <a [hidden]="!searchterm" (click)="clear()" class="clearbutton">
    <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-x deleteicon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </a>
</div>

<div *ngIf="searchterm" [hidden]="!searchbarHasFocus" class="suggestions bg-white w-full rounded-lg mt-2 z-20">
  <a routerLink="/fact/{{suggestion.id}}" (click)="hideSuggestions()" class="p-4 flex flex-row suggestion" *ngFor="let suggestion of suggestions">
    <img height="70px" width="100px" class="rounded-lg" src="https://picsum.photos/100/70" />
    <div class="pl-4 flex flex-col">
      <span>
        {{suggestion.headline}}
      </span>
      <span class="metadata">
        {{suggestion.createdAt | date}} | {{suggestion.category}}
      </span>
    </div>
  </a>
</div>

<div #backgroundOverlay [hidden]="!searchbarHasFocus" (click)="hideSuggestions()" class="background-overlay z-10"></div>