<form #searchbar method="GET" autocomplete="off">
  <div class="flex relative">
    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
      <svg viewBox="0 0 16 16" class="h-5 w-5 hidden text-blue-700 fill-current md:block" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
    </span>
    <input #searchinput (focus)="onFocus()" (keyup)="onKey($event)" name="q" class="text-gray-700 mr-3 md:pl-10 py-2 px-2 leading-tight w-full rounded-lg" type="text" placeholder="Search">
  </div>
</form>

<div *ngIf="searchterm" [hidden]="!searchbarHasFocus" class="suggestions bg-white md:w-1/2 rounded-lg mt-2 z-20">
  <a routerLink="/fact/{{suggestion.id}}" (click)="hideSuggestions()" class="flex flex-row suggestion p-4" *ngFor="let suggestion of suggestions">
    <img height="70px" width="100px" class="rounded-lg" src="https://picsum.photos/100/70" />
    <div class="flex flex-col pl-4">
      <span>
        {{suggestion.headline}}
      </span>
      <span class="metadata">
        {{suggestion.createdAt | date}} | {{suggestion.category}}
      </span>
    </div>
  </a>
</div>

<div #backgroundOverlay [hidden]="!searchbarHasFocus" (click)="hideSuggestions()" class="background-overlay z-10"></div>