<div class="flex gap-x-4 items-center justify-between w-full px-8 py-4 lg:px-12 bg-white dark:bg-dark-navi text-base lg:text-2xl dark:text-white">
    <div class="hidden lg:flex items-center">
        <a href="/">
            <img class="h-12" src="assets/illustrations/fff_visual.png">
        </a>
    </div>
    <a href="/press" class="font-thin">
        Presse & Kontakt
    </a>
    <a href="/privacy-policy" class="font-thin">
        Datenschutz
    </a>
    <a href="/imprint" class="font-thin">
        Impressum
    </a>
    <app-darkmodetoggle class="hidden lg:flex text-base"></app-darkmodetoggle>
</div>