<div class="blur fixed w-screen top-0"></div>
<div class="fixed w-screen p-4 top-0">
    <div class="navbar bg-white p-4 rounded-lg">
        <a href="/" class="logo">
            <svg class="h-8 w-8 fill-current text-gray-800 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.14 95.2">
                <defs>
                    <style></style>
                </defs>
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <g id="Layer_1-2-2" data-name="Layer 1-2">
                            <ellipse cx="33.1" cy="91.76" rx="4.15" ry="2.44" strokemiterlimit="10" strokewidth="2" stroke="#3a3a3a" fill="#c1c1c1"></ellipse>
                            <path d="M34 1h-1.84C5.88 2.09-8.65 31.39 8.27 51.39c16.5 15.35 9.56 8.53 15.58 28.36h18.39c6-19.81-.9-13.09 15.6-28.36C74.82 31.44 60.26 2.14 34 1z" fill="none" strokemiterlimit="10" strokewidth="2" stroke="#3a3a3a"></path>
                            <path d="M30.88 78.6Q29.41 60.06 28 41.49c-1.47-18.56-11.73-7.71-.29-12.08s4.07 12.08 4.07 12.08H34"></path>
                            <path d="M35.83 79q1.08-18.76 2.11-37.54c1.05-18.77 11.73-7.71.3-12.08s-4.15 12.08-4.15 12.08h-2.36"></path>
                            <circle cx="26.53" cy="24.02" r="3.45"></circle>
                            <circle cx="39.89" cy="24.02" r="3.45"></circle>
                            <path d="M42.48 79H23.71L26 88.57h0c.53 2.05 3.53 3.63 7.16 3.63s7-1.7 7.22-4z" fill="#efefed" strokemiterlimit="10" strokewidth="2" stroke="#3a3a3a"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="fill logo-text"><strong>Facts</strong>for<strong>Friends</strong></span>
        </a>
        <app-searchbar class="center max-w-lg"></app-searchbar>
    </div>
</div>