.navbar {
    height: 60px;
    border-radius: 15px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
}

.logo {
    position: absolute;
    left: 30px;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;

    span {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
}