@import "../../variables.scss";
@import "../../mixins.scss";

.blur {
    backdrop-filter: blur(6px);
    height: 20px;
}

.navbar {
    height: 60px;
}

@media only screen and (max-width: 991px) {
    .logo-text {
        display: none !important;
    }

    .navbar {
        display: flex;
        align-items: center;

        app-searchbar {
            flex: 1;
            max-width: initial;
        }
    }
}
