<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <div class="antialiased bg-gray-300 min-h-screen pb-2">
      {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
  </body>
</html>
