{% include "navbar.html" %}

{% include "searchbar.html" %}

<div class="container flex content-around justify-center flex-wrap mx-auto">
    {% for category in categories %}
    <div class="align-middle p-1">
        <a class="text-sm font-medium border border-gray-300 bg-white py-1 px-2 rounded text-grey-500" href="{{ '?q=Kategorie:' + category }}">{{ category }}</a>
    </div>
    {% endfor %}
</div>

<div class="container px-10 pt-6 mx-auto">
    <h2>Zuletzt hinzugefügt</h2>
    <div class="flex flex-wrap -m-1">
        {% for fact in facts %}

        {% include "snack.html" %}

        {% endfor %}
    </div>
    <div class="flex justify-center m-8">
        <a href="/?q=all" class="bg-blue-200 hover:bg-blue-400 py-2 px-3 rounded"> 
            alle Snacks anzeigen
        </a>
    </div>
</div>