<div class="px-1 py-2 flex justify-center w-full relative my-8">
    <div class="shadow flex w-full max-w-xl">
        <form class="flex w-full relative" method="GET" autocomplete="off">
            <input value="{{search_query}}" class="w-full rounded p-2 rounded-r-none" type="text" name="q" placeholder="Search...">

            {% if search_query %}
            <a href="/" class="absolute right-0 top-0 m-2 mr-16">reset</a>
            {% endif %}

            <button class="bg-white w-auto flex justify-end items-center text-blue-500 p-2 hover:text-blue-400">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>