<!-- <div -->
<!-- class="flex flex-col xl:flex-row w-full pt-24 md:pt-32 xl:pr-2 xl:pl-16 pb-16 bg-highlight text-white"> -->
<div class="grid grid-cols-1 xl:grid-cols-2 xl:flex-row w-full pt-24 md:pt-32 xl:px-16 pb-16 bg-highlight text-white">

    <div
        class="flex flex-col pb-8 xl:pb-0 xl:w-11/12 px-2 xl:pr-8 justify-between xl:items-start xl:text-start h-full">
        <h2 class="text-4xl 2xl:text-6xl font-semibold text-white">Werde <span
                class="bg-fffred">#Factfluencer</span> mit <br> Facts for Friends</h2>
        <div class="text-xl 2xl:text-3xl font-normal leading-relaxed">
            <p class="mb-4">
                Facts for Friends macht Faktencheck verständlich und alltagstauglich.<br />
            </p>
            <p>
                Nach dem Motto #ErzählMirKeineMärchen, liefern wir die besseren Argumente gegen Desinformationen und
                Verschwörungen.<br />
            </p>
        </div>
        <div class="flex justify-between mt-2 w-full">
            <div class="flex items-end">
                <p class="pr-2 text-4xl 2xl:text-6xl pt-1 2xl:pt-0 font-semibold dark:text-dark-primary">1.</p>
                <div class="flex flex-col text-lg 2xl:text-2xl text-left">
                    <p class="font-thin">Lese.</p>
                    <p class="font-semibold text-xl 2xl:text-3xl leading-none">Fakten</p>
                </div>
            </div>
            <div class="flex items-end">
                <p class="pr-2 text-4xl 2xl:text-6xl pt-1 2xl:pt-0 font-semibold dark:text-dark-primary">2.</p>
                <div class="flex flex-col text-lg 2xl:text-2xl text-left">
                    <p class="font-thin">Verstehe.</p>
                    <p class="font-semibold text-xl 2xl:text-3xl leading-none">Fakten</p>
                </div>
            </div>
            <div class="flex items-end">
                <p class="pr-2 text-4xl 2xl:text-6xl pt-1 2xl:pt-0 font-semibold dark:text-dark-primary">3.</p>
                <div class="flex flex-col text-lg 2xl:text-2xl text-left">
                    <p class="font-thin">Teile.</p>
                    <p class="font-semibold text-xl 2xl:text-3xl leading-none">Fakten</p>
                </div>
            </div>
        </div>
    </div>
    <div class="px-2 h-full" data-track-content data-content-name="Video">
        <video class="" controls>
            <source src="https://fff-content-items.s3.eu-central-1.amazonaws.com/FFF+Explainer.mp4"
            type="video/mp4"
            data-content-piece="Facts for Friends Explainer">
            Your browser does not support the video tag.
        </video>
    </div>
</div>