<div class="flex flex-col lg:items-center lg:text-center w-full px-6">
    <h2 class="px-1 text-xl lg:text-2xl font-semibold leading-relaxed">Die Kraft des</h2>
    <h2 class="text-white text-xl lg:text-2xl font-semibold leading-relaxed"><span class="bg-secondary px-1 w-max">Besseren Arguments</span></h2>
    <p class="text-sm font-thin leading-relaxed lg:leading-normal max-w-md">
        Nach dem Motto #ErzählMirKeineMärchen, liefern wir die besseren Argumente gegen Fake News und Verschwörungen.<br />
        Doch alleine schaffen wir es nicht. Nur gemeinsam, als Community können wir einen faktenbasierten Diskurs auf Social Media herstellen. 
    </p>
    <p class="text-secondary text-sm font-semibold">Mehr über uns</p>
    <p class="mt-4 text-sm font-thin lg:font-normal">Werde <span class="px-1 font-normal bg-secondary text-white">#Factfluencer</span> mit Facts for Friends.</p>
    <div class="flex justify-between mt-2 max-w-md w-full">
        <div class="flex justify-between">
            <p class="pr-2 text-secondary text-4xl font-semibold">1</p>
            <div class="flex flex-col text-sm text-left">
                <p class="font-thin">Lese.</p>
                <p class="font-normal">Fakten</p>
            </div>
        </div>
        <div class="flex justify-between m-auto">
            <p class="pr-2 text-secondary text-4xl font-semibold">2</p>
            <div class="flex flex-col text-sm text-left">
                <p class="font-thin">Verstehe.</p>
                <p class="font-normal">Fakten</p>
            </div>
        </div>
        <div class="flex justify-between">
            <p class="pr-2 text-secondary text-4xl font-semibold">3</p>
            <div class="flex flex-col text-sm text-left">
                <p class="font-thin">Teile.</p>
                <p class="font-normal">Fakten</p>
            </div>
        </div>
    </div>
</div>
