@import "../../variables.scss";


.close-button {
    color: $sharesheet_color;
    z-index: 10;
}

input {
    padding: 7px 15px;
    &:focus {
        outline: none !important;
    }
}

.copy-link {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    &:hover {
        background-color: rgba(0,0,0,0.05);
        cursor: pointer;
    }
}
