@import "../../variables.scss";

.content {
    min-width: 550px;
}

.close-button {
    right: 20px;
    color: $sharesheet_color;
    z-index: 10;
}

input {
    padding: 7px 15px;
}

.copy-link {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    &:hover {
        background-color: rgba(0,0,0,0.05);
        cursor: pointer;
    }
}
