{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container px-10 pt-6 mx-auto">
    <div class="flex justify-center mt-16">
        <div class="max-w-screen-lg">
            <div class="flex flex-row p-4">
                <div class="flex flex-1 flex-col items-center justify-center p-4">
                    <img src="https://cms.factsforfriends.de/uploads/about_erik_300x300_6f38002e8c.png" height="300px" width="300px" class="border"></img>
                    <b class="pt-2">Erik Langenhan</b>
                    <i>Platform Development</i>
                </div>
                <div class="flex flex-col flex-1 p-4">
                    <p>
                    Gemeinsam mit seinem Kollegen Jens ist Erik bei Facts for Friends der Spezialist für Platform Development. Sein Job ist, kreative Lösungen für den Aufbau und die Funktionalität der WebApp zu finden.  
<br></br><br></br>
Nach seinem B.Sc. der Wirtschaftsinformatik an der TU Ilmenau spezialisierte er sich weiter und begann einen M.Sc. in IT Systems Engineering. Neben seinem Studium arbeitet Erik als IT-Spezialist bei IBM. Seine berufliches Interessen liegt insbesondere in den Bereichen IT Infrastructure, Distributed Systems und IT Security.

</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}