{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container px-10 pt-6 mx-auto">
    <div class="flex justify-center mt-16">
        <div class="max-w-screen-lg">
            <div class="flex flex-row p-4">
                <div class="flex flex-1 flex-col items-center justify-center p-4">
                    <img src="https://cms.factsforfriends.de/uploads/about_francisco_300x300_b5eadc262e.png" height="300px" width="300px" class="border"></img>
                    <b class="pt-2">Francisco Kiss</b>
                    <i>Projektmanagement & UX Design</i>
                </div>
                <div class="flex flex-col flex-1 p-4">
                    <p>Als UX- und UI-Designer arbeitet Francisco an der Schnittstelle zwischen User:innen und Maschine. Er findet kreative Lösungen, um die Plattform Facts for Friends für den Nutzer zu optimieren und intuitiv bedienbar zu machen. Zusätzlich unterstützt Francisco im Projektmanagement alle betriebsrelevanten Prozesse. 
<br></br><br></br>
Francisco absolvierte einen B.Sc. und einen M.Sc. im Bereich Elektro- und Informationstechnik. Zurzeit promoviert er an der Uni Stuttgart, wobei er sich auf das Thema Human-Computer-Interaction spezialisiert hat. Die Freude am Lernen und Kreieren inspiriert Francisco. Sein berufliches Interesse gilt der Entwicklung von interaktiven Technologien, die konkrete Verbesserungen zur Lebensqualität von Menschen bringen. 
</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}