{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container px-10 pt-6 mx-auto">
    <div class="flex justify-center mt-16">
        <div class="max-w-screen-lg">
            <div class="flex flex-row p-4">
                <div class="flex flex-1 flex-col items-center justify-center p-4">
                    <img src="https://cms.factsforfriends.de/uploads/Francisco_Kiss_edited_Kopie_dc78d0aa26.png" height="300px" width="300px" class="border"></img>
                    <b class="pt-2">Jens Preußner</b>
                    <i>Platform Development</i>
                </div>
                <div class="flex flex-col flex-1 p-4">
                    <p>Jens arbeitet im Team mit Erik und ist bei Facts for Friends verantwortlich für das Platform Development. Beide sind stets bemüht, die Erscheinung und Funktionalität der WebApp zu optimieren, um die User:innen zu begeistern. 
<br></br><br></br>
Nach seinem B.Sc. und M.Sc. in Bioinformatik steht Jens nun kurz vor der Promotion zum Dr. rer. nat. Hauptberuflich arbeitet Jens als Computational Biologist im Max-Planck-Institut für Herz- und Lungenforschung. Seine beruflichen Interessen liegen in der Krebsforschung, Data Science, wissenschaftlicher Recheninfrastruktur und dem verteilten Rechnen. Außerhalb seines Berufes interessiert sich Jens für Nachhaltigkeit und ökologische Projekte.
</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}