{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container px-10 pt-6 mx-auto">
    <div class="flex justify-center mt-16">
        <div class="max-w-screen-lg">
            <div class="flex flex-row p-4">
                <div class="flex flex-1 flex-col items-center justify-center p-4">
                    <img src="https://cms.factsforfriends.de/uploads/about_selina_300x300_bb5ffa7a4b.png" height="300px" width="300px" class="border"></img>
                    <b>Selina Rudolph</b>
                    <i>Redaktion & Content</i>
                </div>
                <div class="flex flex-col flex-1 p-4">
                    <p>
                    Als Hauptverantwortliche für das Thema Content im Team von Facts for Friends schreibt, redigiert und publiziert Selina FactSnacks für die WebApp.
<br></br><br></br>
Als Grundausbildung absolvierte Selina einen B.A. in Politikwissenschaften an der Uni Göttingen. Als angehende Journalistin beschäftigt sie sich auch in ihrem Masterstudium an der Johannes Gutenberg-Universität Mainz regelmäßig mit der Bekämpfung von Falschinformationen. Beruflich interessiert sich Selina insbesondere für das Thema Datenjournalismus.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}