<div class="flex flex-col lg:flex-row justify-center lg:justify-start">
    <app-category-bar class="pt-20 md:pt-24 lg:h-screen lg:sticky lg:top-0 md:px-4 lg:pr-0 lg:pb-8"></app-category-bar>
    <div class="flex w-full justify-center">
        <div class="max-w-6xl mt-4 lg:mt-24 md:mx-4 pb-4">
            <app-back-button class="flex mb-4"></app-back-button>
            <div class="p-6 bg-white rounded-lg">
                <app-article-card
                    title="{{fact.headline}}" 
                    text="{{fact.snack}}"
                    date="{{fact.date}}"
                    category="{{fact.category}}"
                    url="{{fact.url}}"
                    id="{{fact.id}}"
                    image_url="{{fact.image_url}}"
                    index="0"
                ></app-article-card>
            </div>
        </div>
        <app-border-button
            class="fixed bottom-0 right-0 mr-4 md:mr-8"
            label="Texte bewerten"
            form="TPTFOIYa"
        ></app-border-button>
    </div>
</div>
