@import "../../variables.scss";
@import "../../mixins.scss";


.truncateText {
    // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white); 
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-image {
    min-height: 180px;
    min-width: 250px;
}

.tag {
    background-color: $tags;
    color: $primary;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    font-size: 0.9em;
    font-weight: 500;
}
