@import "../../variables.scss";
@import "../../mixins.scss";

.metadata {
    color: #9EADB7;
}

.highlight {
    color: $highlight_color;
}

.secondary {
    color: $secondary_color;
}

.action {
    &:hover {
        cursor: pointer;
        background-color: #00000010;
    }
}

.truncateText {
    // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white); 
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}