@import "../../variables.scss";

.metadata {
    color: #9EADB7;
    font-size: 0.8em;
}

.card {
    display: flex;
    
    .image-big {
        margin: auto;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;

        .headline {
            display: flex;
            flex-direction: column;
        }
    }

    .content {

    }
}

.action {
    &:hover {
        cursor: pointer;
        background-color: #00000010;
    }
}

.highlight {
    color: $highlight_color;
}