<div class="bg-white m-1 p-3 rounded-lg card">
    <span *ngIf="index == 0" class="image-big">
        <img routerLink="/fact/{{id}}" class="rounded-lg" src="https://picsum.photos/300/200" />
    </span>
    <div class="wrapper p-4">
        <div routerLink="/fact/{{id}}" class="header">
            <span *ngIf="index != 0" class="image-small">
                <img class="rounded-lg mr-2" src="https://picsum.photos/150/100" />
            </span>
            <div class="headline">
                <h2 class="text-xl font-medium">{{title}}</h2>
                <div class="metadata">{{date | date}} | {{category}}</div>
            </div>
        </div>
        <div #textElement routerLink="/fact/{{id}}" class="content mt-4">
            {{text}}
            <span *ngIf="isOverflown" class="read-more">
                <span style="color:black; left: 0">...</span>
                mehr lesen
            </span>
        </div>
        <div class="actions mt-4 flex">
            <a (click)="share()" class="flex p-2 action highlight rounded-lg items-center">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-share-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                </svg>
                <span class="ml-2 select-none">
                    Share
                </span>
            </a>
            <a href="{{url}}" target="_blank" class="flex ml-2 p-2 action rounded-lg items-center">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
                <span class="ml-2 select-none">
                    Source
                </span>
            </a>
        </div>
    </div>
</div>