<div class="flex flex-col md:flex-row h-full">
    <img class="h-48 object-cover rounded-lg" [ngClass]="{'xl:w-auto xl:h-56': index==0, 'xl:hidden': index != 0, 'cursor-pointer': compact}" src="{{image_url}}" routerLink='/fact/{{id}}' />
    <div class="flex flex-col justify-between">
        <div class="flex flex-col" [ngClass]="{'cursor-pointer': compact}" routerLink='/fact/{{id}}'>
            <div class="flex flex-col md:flex-row">
                <img class="hidden md:w-48 md:h-32 rounded-lg" [ngClass]="{'xl:block': index != 0}" src="{{image_url}}" />
                <div class="flex flex-col justify-between mt-4 md:mt-0 md:ml-4">
                    <h2 class="text-lg lg:text-xl font-medium">{{title}}</h2>
                    <div class="text-xs metadata">{{date | date:'d. MMMM'}} | {{category}}</div>
                </div>
            </div>
            <div class="mt-4 md:ml-4 text-sm" [ngClass]="{'truncateText': compact, 'xl:ml-0': index != 0}">
                {{text}}
            </div>
            <span *ngIf="compact" class="text-right mt-2 text-xs font-bold text-gray-700">
                mehr lesen
            </span>
        </div>
        <div class="flex flex-wrap md:ml-4" [ngClass]="{'xl:ml-0': index != 0, 'mt-2': compact===false}">
            <a (click)="share()" class="flex p-2 rounded-lg items-center text-secondary action">
                <svg class="h-5 w-5" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                </svg>
                <span class="ml-2 text-sm select-none">
                    Teilen
                </span>
            </a>
            <a href="{{url}}" target="_blank" class="flex ml-2 p-2 rounded-lg items-center metadata action">
                <svg class="h-5 w-5" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
                <span class="ml-2 text-sm select-none">
                    Quelle
                </span>
            </a>
        </div>
    </div>
</div>

