@import "../../variables.scss";

.highlighted {
    .category-icon {
        background-color: $highlight_color;
        svg {
            color: white;
        }
    }
}

.category {
    &:hover {
        background-color: #00000008;
    }
}

.arrow {
    color: $highlight_color;
}
