<div class="flex pt-20 md:pt-24 md:px-4 justify-center">
    <div class="max-w-4xl mb-4">
        <div class="flex mb-4">
            <a routerLink="/" class="flex flex-start p-2 ml-2 items-center rounded-lg backButton">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Zurück
            </a>
        </div>
        <div class="mx-1 md:mx-0 p-4 bg-white rounded-lg text-sm text-justify">
            <div class="flex flex-col lg:flex-row lg:justify-evenly p-4 mb-8">
                <a routerLink="." fragment="fakenews" class="anchor font-bold">Was sind Fake News?</a>
                <a routerLink="." fragment="factsforfriends" class="anchor font-bold">Warum Facts for Friends?</a>
                <a routerLink="." fragment="mission" class="anchor font-bold">Wie arbeiten wir?</a>
                <a routerLink="." fragment="team" class="anchor font-bold">Wer steckt hinter Facts for Friends?</a>
            </div>
            <div id="fakenews" class="grid grid-cols-1 md:grid-cols-2">
                <div>
                    <h2 class="text-xl font-bold">Was sind Fake News?</h2>
                    <p class="mt-2">
                        In der heutigen (digitalen) Zeit werden Menschen immer häufiger mit Falschmeldungen und irrtümlich als Fakt dargestellten Nachrichten - sogenannten Fake News - konfrontiert. Dieser Begriff ist heutzutage jedoch stark politisiert und wird oft falsch benutzt. Daher muss er zunächst klar definiert werden. 
                    </p>
                    <p class="mt-4">
                        Unter dem Begriff „Fake News“ fallen erstens Misinformationen, also Nachrichten, die fehlerhaft, unbeständig oder veraltet sind und zweitens Desinformationen, also Nachrichten, die verfasst und verbreitet werden, um den Einzelnen oder die Gesellschaft bewusst zu manipulieren. Desinformationen imitieren oft Optik, Stil und Form von seriösen Nachrichten aus etablierten Medien, um die erfundenen Nachrichten glaubwürdiger erscheinen zu lassen. Ein weiterer Trick, um den Leser zu täuschen, ist die Nutzung von Websites, die bekannten Nachrichtenportalen optisch stark ähneln. Produzenten von Desinformationen verfolgen verschiedenste Ziele, wie zum Beispiel politische oder wirtschaftliche Anreize. Satire oder Ironie hingegen gehören nicht unter den Begriff „Fake News“. 
                    </p>
                </div>
                <div class="order-first md:order-none">
                    Image
                </div>
            </div>
            <div id="factsforfriends" class="grid grid-cols-1 md:grid-cols-2 mt-8">
                <div class="order-first md:order-none">
                    Illustration
                </div>
                <div class="">
                    <h4 class="text-xl font-bold">Warum Facts for Friends?</h4>
                    <p class="mt-2">
                        Die Vision von Facts for Friends ist es Bürger*Innen ein Werkzeug zur eigenständigen und effektiven Bekämpfung von Fake News in ihrem digitalen Umfeld zu liefern, und dadurch eine informierte und engagierte Gesellschaft zu fördern. 
                    </p>
                    <p class="mt-2">
                        Was aktuell im Fact-Checking System fehlt, ist eine Brücke oder eine Art Übersetzer zwischen bestehenden Faktencheckern und den Sozialen Medien. Dort setzt Facts for Friends an. Wir sehen uns als eine Brücke zwischen den bereits etablierten Fact-Checking-Organisationen und den Sozialen Medien. Wir sammeln, kürzen und vereinfachen die oft langen und komplizierten Faktenchecks von etablierten Faktencheckern und machen daraus sogenannte „Fact Snacks”. Das sind prägnante Klar- und Richtigstellungen zu kursierenden Fake News, die sofort als Text oder SharePic in allen Sozialen Medien und Messenger Diensten geteilt werden können. Wir ergänzen somit bestehende Fakt-Checking Angebote und sorgen dafür, dass Fact-Checking dort ankommt, wo es am dringendsten gebraucht wird.
                    </p>
                    <h5 class="mt-4 font-bold">Vorteile</h5>
                    <ul class="mt-2 px-8 list-decimal">
                        <li>
                            <p class="font-bold">Zentral & Teilbar</p>
                            <p>Facts for Friends ist eine zentrale Plattform, die Faktenchecks von allen glaubwürdigen Quellen sammelt und von der Richtigstellungen leicht in jedem Sozialen Netzwerk oder Messenger geteilt werden können. </p>
                        </li>
                        <li>
                            <p class="font-bold">Simple & "Snackable"</p>
                            <p>Die FactSnacks sind buchstäblich „Snacks”, da Informationen zusammengefasst und vereinfacht werden.</p>
                        </li>
                        <li>
                            <p class="font-bold">Suchfunktion</p>
                            <p>Und die integrierte Suchfunktion ermöglicht es den Benutzern, den richtigen FactSnack innerhalb von Sekunden zu finden.</p>
                        </li>
                </ul>
                </div>
            </div>
            <div id="mission" class="grid grid-cols-1 md:grid-cols-2 mt-8">
                <div>
                    <h2 class="text-xl font-bold w-full">Wie arbeiten wir?</h2>
                    <p class="mt-2">
                        Wir arbeiten Hand-in-Hand mit etablierten deutschen Faktencheckern zusammen. Das heißt, wir sind keine Konkurrenz, sondern Ergänzung und Multiplikator. 
                    </p>
                    <p class="mt-4">
                        Wir suchen und sammeln Verifikationen aus verschiedenen fundierten Quellen, die sich über Jahre als vertrauenswürdig erwiesen haben. Dennoch werden die Richtigstellungen dieser Quellen von uns auf ihre eigenen Quellen und ihre Prozesse untersucht. Dabei achten wir insbesondere auf einen offengelegten und transparenten Prozess der Verifikationen, damit jeder Schritt nachvollzogen und überprüft werden kann. Außerdem achten wir stets auf das Zwei-Quellen-Prinzip, sodass ein Fact-Checking Ergebnis immer auf mehr als einer Quelle basieren muss.  
                        Nach der gründlichen Überprüfung komprimieren wir die Faktenchecks zu kurzen und nutzerfreundlichen FactSnacks. Jeder FactSnack wird dann von mehreren Personen kontrolliert und redigiert, bevor er auf der Web App veröffentlicht wird.
                    </p>
                    <h4 class="mt-4 text-sm font-bold">Zu unseren fundierten Quellen zählen:</h4>
                </div>
                <div class="order-first md:order-none">
                    Illustration
                </div>
                <div class="col-span-2">
                    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                    </div>
                </div>
            </div>
            <div id="team" class="grid grid-cols-1 md:grid-cols-2  mt-8">
                <div class="order-first md:order-none">
                    Illustration
                </div>
                <div>
                    <h2 class="text-xl font-bold w-full">Wer steckt hinter Facts for Friends?</h2>
                    <p class="mt-2">
                        Unser Team besteht aktuell aus zwei Gründerinnen, Journalist*innen und Entwickler*innen. Die Idee Facts for Friends wurde ursprünglich im Rahmen des #WirVsVirus Hackathons der Bundesregierung entwickelt und mithilfe des #WirVsVirus Solution Enablers umgesetzt.
                    </p>
                    <h4 class="mt-4 font-bold">Wir werden unterstützt von:</h4>
                </div>
                <div class="col-span-2">
                    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                        <img src="assets/logos/CORRECTIV-logo.png" class="w-64"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


