<div class="flex pt-20 md:pt-24 md:px-4 justify-center">
    <div class="max-w-4xl mb-4">
        <div class="flex mb-4">
            <a routerLink="/" class="flex flex-start p-2 ml-2 items-center rounded-lg backButton">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Zurück
            </a>
        </div>
        <div class="mx-1 md:mx-0 p-4 bg-white rounded-lg text-sm">
            <div class="flex px-8 items-center rounded header">
                <h2 class="text-xl font-bold w-full">Wie arbeiten wir?</h2>
                <img class="h-24" src="assets/privacy-policy-shield.png">
            </div>
            <div class="flex justify-end">
                <p class="text-sx">
                    Stand: November 2020
                </p>
            </div>
            <p class="mt-2">
                Wir arbeiten Hand-in-Hand mit etablierten deutschen Faktencheckern zusammen. Das heißt, wir sind keine Konkurrenz, sondern Ergänzung und Multiplikator. 
            </p>
            <div class="mt-4 ">
                <p>
                    Wir suchen und sammeln Verifikationen aus verschiedenen fundierten Quellen, die sich über Jahre als vertrauenswürdig erwiesen haben. Dennoch werden die Richtigstellungen dieser Quellen von uns auf ihre eigenen Quellen und ihre Prozesse untersucht. Dabei achten wir insbesondere auf einen offengelegten und transparenten Prozess der Verifikationen, damit jeder Schritt nachvollzogen und überprüft werden kann. Außerdem achten wir stets auf das Zwei-Quellen-Prinzip, sodass ein Fact-Checking Ergebnis immer auf mehr als einer Quelle basieren muss.  
                    Nach der gründlichen Überprüfung komprimieren wir die Faktenchecks zu kurzen und nutzerfreundlichen FactSnacks. Jeder FactSnack wird dann von mehreren Personen kontrolliert und redigiert, bevor er auf der Web App veröffentlicht wird.
                </p>
            </div>
            <div class="mt-4 ">
                <h4 class="text-sm font-bold">Zu unseren fundierten Quellen zählen:</h4>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
                    <div><img src="assets/logos/CORRECTIV-logo.png" class="w-64"/></div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <!-- ... -->
                    <div>9</div>
                  </div>
            </div>
        </div>
    </div>
</div>

