.outer {
    display: flex;
    justify-content: center;

    .inner {
        // max-width: 1200px;

    }
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 992px;
    margin: auto;

    @media only screen and (min-width: 992px) {
        margin-left: 230px;
    }
    
    .article {
        &:first-child {
            width: 100%;
            max-width: initial;
        }

        @media only screen and (max-width: 991px) {
            width: 100%;
        }

        @media only screen and (min-width: 992px) {
            max-width: 496px;
        }

        min-width: 400px;
    }
}
