<div class="flex flex-col justify-center lg:justify-start max-w-1/1">
    <app-category-bar class="hidden xl:block xl:absolute xl:top-24 xl:left-10"></app-category-bar>
    <app-intro class="mb-6"></app-intro>
    <app-category-bar class="flex justify-center xl:hidden"></app-category-bar>
    <div class="flex justify-center w-full">
        <app-no-results-page 
            class="w-full"
            searchterm="{{searchterm}}"
            *ngIf="totalCount==0"
        ></app-no-results-page>
        <div class="m-4 max-w-3xl grid gap-8 grid-cols-1 lg:grid-cols-2 pb-4">
                <app-article-card
                    *ngFor="let fact of facts | slice:0:5; let i = index" 
                    [attr.data-index]="i"
                        title="{{fact.title}}" 
                        titleFormatted="{{fact.titleFormatted}}"
                        text="{{fact.text}}"
                        textFormatted="{{fact.textFormatted}}"
                        date="{{fact.date}}"
                        category="{{fact.category}}"
                        url="{{fact.url}}"
                        id="{{fact.id}}"
                        index="{{i}}"
                        image_url="{{fact.image_url}}"
                        sharepic_url="{{fact.sharepic_url}}"
                        factcheckingOrganisation="{{fact.factcheckingOrganisation}}"
                        compact="true"
                        [ngClass]="{'lg:col-span-2': i == 0}"
                ></app-article-card>
                <app-featured-snacks [facts]="recommendedSnacks" title="Das Aktuellste" class="lg:col-span-2"></app-featured-snacks>
 
                <app-article-card
                    *ngFor="let fact of facts | slice:5; let i = index" 
                    [attr.data-index]="i"
                        title="{{fact.title}}" 
                        titleFormatted="{{fact.titleFormatted}}"
                        text="{{fact.text}}"
                        textFormatted="{{fact.textFormatted}}"
                        date="{{fact.date}}"
                        category="{{fact.category}}"
                        url="{{fact.url}}"
                        id="{{fact.id}}"
                        index="{{i}}"
                        image_url="{{fact.image_url}}"
                        factcheckingOrganisation="{{fact.factcheckingOrganisation}}"
                        compact="true"
                        firstBlock="false"
                ></app-article-card>
            <div class="lg:col-span-2">
                <div *ngIf="perPage * currentPage < hits" class="text-xs flex justify-center w-full text-highlight m-4">
                    <a (click)="loadMore()" class="bg-highlight dark:bg-dark-primary flex px-4 py-2 rounded-full items-center text-white dark:text-dark-background cursor-pointer">
                        <!-- <svg class="h-5 w-5 fill-current" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                        </svg> -->
                        <span class="ml-2">
                            Mehr lesen
                        </span>
                        <svg class="h-4 w-4 ml-2" fill="currentColor"  viewBox="0 0 407.437 407.437">
                            <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <!--<app-border-button
            class="fixed bottom-0 right-0 mr-4 md:mr-8"
            label="Layout bewerten"
            form="O8B4KOEI"
        ></app-border-button>-->
    </div>
</div>
