{% extends "base.html" %}

{% block content %}

{% include "navbar.html" %}

<div class="container px-10 pt-6 mx-auto">
        <div class="flex justify-center content-center ">
            <div class="text-center">
                <span style='font-size:100px;'>&#128542;</span>
                <h2> Diese Seite existiert noch nicht</h2>
                <div class="my-8">
                    <a href="/"><i class="arrow left"></i> Zurück zur Startseite</a>
                </div>
            </div>
        </div>
</div>

{% endblock %}