@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    background-color: #EBEEF3;
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;

    // &:before {
    //   content: '...';
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    // }

    // &:after {
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   width: 1em;
    //   height: 1em;
    //   margin-top: 0.2em;
    //   background: $bgColor;
    // }
  }
