@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-dialog-container {
    border-radius: 10px !important;
    padding: 0px !important;
}
.mat-dialog-content { 
    width: 100%;
    height: 100%;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
