<h2 *ngIf="showTitle" class="px-1 pb-2 text-4xl font-semibold leading-relaxed dark:text-dark-primary-font">{{title}}</h2>
<div class="p-4 w-full bg-gradient-to-b from-gradient-from via-gradient-via to-gradient-to dark:from-dark-gradient-from dark:via-dark-gradient-via to-gradient-to bg-64 bg-no-repeat">
    <h2 class="ml-4 text-white dark:text-dark-background" [ngClass]="showTitle ? 'text-3xl' : 'text-4xl'">{{subtitle}}</h2>
    <div class="flex flex-row justify-start overflow-x-auto">
        <a *ngFor="let card of content" href="{{card.link}}"  class="p-4 cursor-pointer w-10/12 md:w-4/12 flex-none">
            <div class="h-32 rounded-lg bg-cover bg-no-repeat bg-center" style="background-image: url({{card.image_url}})"></div>
            <h4 class="mt-2 dark:text-white" [innerHTML]="card.titleFormatted" data-track-content data-content-name="Fact Recommendation" [attr.data-content-piece]="card.title"></h4>
            <div class="mt-2 text-xs text-gray-400">
                {{card.date | date:'dd.MM.YYYY'}} 
                | 
                <span *ngFor="let cat of card.categories">#{{cat.trim()}}</span>
                <span>{{card.author}}</span>
            </div>
        </a>
    </div>
</div>